.ProjectsPage {
    text-align: center;
    width: 100%;
}

.ProjectsPageTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

}
.ProjectsPageTitulo h2 {
    margin: 0;
    color: #303A63;
    text-align: center;
    flex-grow: 1;
}

.btnAgregar {
    background-color: #1B9A81;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
    transition: all 0.3s ease;
}

.btnAgregar:hover {
    background-color: #303A63;
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Encabezado {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 20px; 
    width: 100%; 
    justify-items: center; 
    text-align: center; 
    background-color: #1B9A81; 
    padding: 10px 0; 
}

.Encabezado p {
    margin: 0; 
    font-size: 16px; 
    font-weight: bold; 
    color: white;
}
