
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303A63;
  padding: 15px 30px;
  color: white;
  font-family: Arial, sans-serif;
}

.Navbar img {
  width: 180px;
  height: auto;
}

.Navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navbar a,
.Navbar .selected {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Navbar a:hover,
.Navbar .selected {
  color: #fff;
}

.Navbar .selected {
  background-color: #1B9A81;
  font-weight: bold;
}

.Navbar .NavLink {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Navbar a:not(.selected) {
  margin-right: 15px;
}

@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    align-items: center;
  }

  .Navbar ul {
    flex-direction: column;
    padding-top: 20px;
  }

  .Navbar a {
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .Navbar img {
    margin-bottom: 20px;
  }
}